html, body {
  font-family: "Lucida Console", Monaco, monospace !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #673AB7;
  border-top: #512DA8 solid 30px;
  padding: 20px;
  color: white;
  font-size: 5em;;
  text-align: center;  
  text-transform: uppercase;
}

.App-title {
  font-size: 1.5em;
  color: #212121;
}

.App-intro {
  font-size: large;
}

.loader {
  color: #757575;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;  
}

li {
  border: #D1C4E9 solid 1px;
  box-shadow: #BDBDBD 2px 2px 1px 1px;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li:hover {
  border: #FF9800 solid 2px;
}

.phone-list-title {
  font-size: 1.2em;
  color: #757575;
  display: block;
  font-weight: bold;
}

.phone-detail-title {
  font-size: 4em;
  color: #212121;
  margin: 5px;
}

.phone-detail-image {
  width: 200px;
  height: 200px;
}

.phone-list-price {
  font-size: 1em;
  color: #D1C4E9;
}

.phone-image {
  width: 100px;
  height: 100px;
}

.phone-list-div {
  flex: 1;
}

.phone-detail-div {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

.phone-detail-div div {
  font-size: 1.2em;
  color: #D1C4E9;
  font-weight: 600;
}

.phone-detail-description {
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
}

.phone-detail-div div strong {
  color: #FF9800;
}

.phone-detail-back { 
  background: #FF9800;
  border-radius: 5px;
  color: white;
  text-align: left;
  padding: 10px;
  width: fit-content;
  margin-left: 20%;
}

.phone-list-div, .phone-list-options {
  flex-direction: column;
  align-self: center;
}

.phone-list-options {
  background: #FF9800;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin: 1%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width: 590px) {
  li {
    display: block;
    text-align: center;
  }
}